#global_menu_sotbit .adm-main-menu-item-icon{
    background: url("icons/sotbit/icon.png") no-repeat 50% 55%;
}

.sotbit_regions_menu_icon{
    background: url("icons/sotbit.regions/icon.png") no-repeat center;
}