@font-face {
  font-family: 'ic_font';
  src: url('icons/ic_font/ic_font.eot');
  src: url('icons/ic_font/ic_font.eot?#iefix') format('embedded-opentype'),
  url('icons/ic_font/ic_font.ttf') format('truetype'),
  url('icons/ic_font/ic_font.woff') format('woff'),
  url('icons/ic_font/ic_font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@media (min-width: 780px)
{
    .connection-calc .small-view {
        display: none;
    }
}

@media (min-width: 964px){
    .connection-calc .additional-small {
        display: none;
    }
}


@media (min-width: 320px){
    .connection-calc .calc-block .column {
        padding-right: 6px;
        padding-left: 6px;
        max-width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

@media (max-width: 480px){
    .connection-calc{
       padding: 0 21px;
    }
}

.connection-calc{
    font-family: 'Gilroy';
}

.connection-calc .row-flex,
.connection-calc .room-type-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.connection-calc .calc-col-wrap {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.connection-calc .content { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.connection-calc .content .col{
        padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.connection-calc h2.block-title {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 100%;
    font-weight: bold;
    line-height: 1.1;
    color: #383b47;
    font-size: 40px;
}

.connection-calc .calc-block .title {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2;
    color: #383b47;
    margin-bottom: 12px;
}

.connection-calc .content .col .radioContainer{
     margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

label.radioContainer{
    padding: 8px 10px;
    border: solid 2px;
    border-color: #c9ced6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    color: #9198a0;
        -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.connection-calc .content .col .radioContainer i{
    font-size: 24px;
    color: #3498db;
    font-family: "ic_font" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.connection-calc label.radioContainer:hover{
    border-color: #000;
}

.connection-calc label.radioContainer:hover .checkmark{
    border-color: #000;
}

.connection-calc label.radioContainer:hover i{
    color: #000 !important;
}

.connection-calc label.radioContainer.active{
    border-color: #3498db;
}

.connection-calc label.radioContainer input[type="checkbox"]:checked ~ .checkmark, label.radioContainer input[type="radio"]:checked ~ .checkmark{
    border: 4px solid;
    border-color: #3498db;
}

.connection-calc label.radioContainer.active:hover i{
    color: #3498db !important;
}

.ic_home:before {
    content: "";
}

.ic_flat:before {
    content: "";
}

.ic_cafe:before {
    content: "";
}

.ic_storage:before {
    content: "";
}

.ic_shop:before {
    content: "";
}

.ic_office:before {
    content: "";
}

.counter-wrap .step-control.step-down:after {
    content: "";
    font-family: "ic_font";
}

.counter-wrap .step-control.step-up:after {
    content: "";
    font-family: "ic_font";
}

.connection-calc .content .col .radioContainer .bottom-row{
     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #383b47;
    font-weight: 400;
}

label.radioContainer input[type="checkbox"], label.radioContainer input[type="radio"]{
    display: none;
}

label.radioContainer .checkmark{
    display: block;
    margin-left: 10px;
    margin-right: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: #c9ced6;
    border-radius: 16px;
}

.connection-calc .content .col .radioContainer .bottom-row .checkmark {
    margin-left: 0;
    margin-right: 10px;
}

.irs--homelte{
    height: 55px; 
}

.irs--homelte.irs-with-grid {
    height: 70px; 
    width: 100%;
}

.irs--homelte .irs-grid-pol {
    display: none; 
}

.irs--homelte .irs-min,
.irs--homelte .irs-max {
    display: none; 
}

.irs--homelte .irs-line{
    top: 33px;
    height: 4px;
    background: #e2e5eb;
    border: 2px solid #e2e5eb;
    border-radius: 4px; 
}

.irs--homelte .irs-bar {
    top: 33px;
    height: 4px;
    border: 2px solid #e2e5eb;
    background: #e2e5eb;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5); 
}

.irs--homelte .irs-bar--single {
    border-radius: 4px 0 0 4px; 
}

.irs--homelte .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: fade(#428bca, 50%); 
}

.irs--homelte .irs-handle {
    top: 25px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    background-color: #3498db;
    box-shadow: 0 4px 4px 0 rgba(10, 31, 68, 0.16);
    border-radius: 24px;
}

.irs--homelte .irs-handle.state_hover, .irs--homelte .irs-handle:hover {
    background-color: #3498db; 
}

.irs--homelte .irs-min,
.irs--homelte .irs-max {
    top: 0;
    padding: 1px 5px;
    color: white;
    text-shadow: none;
    background-color: #9f9f9f;
    border-radius: 3px;
}

.irs--homelte .irs-from,
.irs--homelte .irs-to,
.irs--homelte .irs-single {
    background: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #3498db;
}

.irs--homelte .irs-grid-pol {
    background-color: #428bca;
}

.irs--homelte .irs-grid-text {
    font-size: 16px;
    line-height: 1.25;
    color: #9198a0;
}

.connection-calc .room_example-wrap {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.counter-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px dotted #3498db;
}

.counter-wrap .step-control {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.counter-wrap .steps {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #383b47;
}

.selectize-control {
    position: relative;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 40px;
    border: 2px solid #c9ced6;
}

.connection-calc label.checkbox{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.connection-calc label.checkbox span{
    font-weight: 400;
}

.connection-calc label.checkbox input{
    display: none;
}

.connection-calc label.checkbox .checkmark{
    position: relative;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: 2px solid #3498db;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: -4px;
}

.connection-calc input{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    text-align: left !important;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #c9ced6;
    border-radius: 4px;
    background-color: #fff;
    height: 44px;
    padding: 0 12px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #383b47 !important;
}

.connection-calc .form-control-custom {
    width: 100%;
    position: relative;
    z-index: 2;
}

.connection-calc .form-control-custom.double {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    margin-bottom: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.connection-calc .form-wrap .double .left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-right: 10px;
}

.connection-calc .form-wrap .double .right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-left: 10px;
    margin-top: 0;
}

.connection-calc .btn{
    width: 100%;
    margin-bottom: 14px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border-color: #3498db;
    background-color: #3498db;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: bold;
    padding: 9px 16px 7px;
    border-radius: 100px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    background-image: none;
}

.selectize-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

@media (max-width: 963px){
    .connection-calc .calc-col-wrap {
        padding-right: 6px;
        padding-left: 6px;
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .connection-calc .room_example-wrap {
        padding-right: 6px;
        padding-left: 6px;
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .connection-calc .big-view {
        display: none;
    }

    .connection-calc .additional-small {
        display: none;
    }

    .connection-calc .content .col {
        padding-right: 6px;
        padding-left: 6px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.connection-calc .agreement a{
    font-weight: 500;
    color: #6e7782;
}

.complectations .agreement a{
    font-size: 13px;
    line-height: 16px;
}

.connection-calc label.checkbox input:checked + .checkmark{
    background-image: url(icons/on.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.connection-calc .room_example-wrap .img-wrap{
    margin-bottom: 40px;
}

.alarm,
.alarm a{
    border-color: #EB5757 !important;
    color: #EB5757 !important;
}

.complectation-block-wrap{
    font-family: 'Gilroy';
}

.complectation-block-wrap h2{
    font-family: 'Gilroy';
    font-weight: bold;
    line-height: 1.1;
    color: #383b47;
    margin-bottom: 40px;
        font-size: 40px;
}

#speed-select-selectized{
    position: absolute !important;
}