.widget.c-stages.c-stages-template-1 {
    display:none;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text {
    font-weight: normal !important;
}
.product-col .product-card .title {
    font-weight: normal !important;
    font-size: 24px !important;
}
.product-col .product-card .price {
    font-size: 20px !important;
    font-weight: normal !important;
    color: #3498db !important;
    margin-bottom: 5px !important;
}
.c-slider.c-slider-template-2 .widget-block-header {
    background: none !important;
}
.widget-title {
    font-weight: normal !important;
}
.widget.c-rates.c-rates-template-1-1 .widget-item-price {
    margin-top: 20px !important;
}
.widget.c-rates.c-rates-template-1-1 .widget-item-price-value {
    line-height: 34px !important;
}
.connection-calc h2.block-title {
    margin-bottom: 30px !important;
    font-weight: normal !important;
    font-size: 40px !important;
}

.complectation-block-wrap h2 {
    font-weight: normal !important;
    font-size: 32px !important;
}

.intec-gallery-title {
    font-weight: normal !important;
}

h6, [data-ui-markup="h6"], .intec-ui-markup-h6, h5, [data-ui-markup="h5"], .intec-ui-markup-h5, h4, [data-ui-markup="h4"], .intec-ui-markup-h4, h3, [data-ui-markup="h3"], .intec-ui-markup-h3, h2, [data-ui-markup="h2"], .intec-ui-markup-h2, h1, [data-ui-markup="h1"], .intec-ui-markup-h1 {
    font-weight: 200 !important;
}
h1, .h1, h2, .h2, h3, .h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.intec-ui.intec-ui-size-2 {
    font-size: 12px !important;
}
.product-col .product-card .descr {
    font-size: 12px !important;
}
.intec-ui.intec-ui-control-button.intec-ui-size-2 {
    padding: 7px 16px !important;
}
.c-slider.c-slider-template-2 .widget-item-content {
    padding: 40px 15px 95px 45px !important;
}
.c-slider.c-slider-template-2 .widget-item-header[data-view="1"] {
    font-size: 32px !important;
    line-height: 40px !important;
    font-weight: 100 !important;
}
.c-slider.c-slider-template-2 .widget-item-description[data-view="1"] {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-top: 15px !important;
    max-height: 80px !important;
}
.c-slider.c-slider-template-2 .widget-block-header-content {
    font-size: 14px !important;
    font-weight: 500;
    color: #111 !important;
}
.intec-template-footer {
    margin-top: 5px !important;
}
.widget.c-rates.c-rates-template-1-1 .widget-title, .widget.c-rates.c-rates-template-2 .widget-title  {
    width: 100%;
    font-weight: bold;
    line-height: 1.1;
    color: #383b47;
    margin-bottom: 40px;
    font-size: 40px;
text-align: left;
}
.widget.c-rates.c-rates-template-1-1 .widget-title, .widget.c-rates.c-rates-template-2 .widget-title {
    font-family: Arial;
    font-weight: normal;
    line-height: 1.1;
    color: #383b47;
    margin-bottom: 40px;
    font-size: 36px;
}
.widget.c-rates.c-rates-template-1-1 [data-slider=false] .widget-item-wrapper:hover .widget-item-effect {
    margin: 0px !important;
    -webkit-box-shadow: 0 9px 24px 0 rgba(111, 129, 162, 0.35);
    -moz-box-shadow: 0 9px 24px 0 rgba(111, 129, 162, 0.35);
    box-shadow: 0 9px 24px 0 rgba(111, 129, 162, 0.35);
}
.widget.c-rates.c-rates-template-1-1 .widget-item-effect {
    background-color: #f3f5f8 !important;
}

.widget.c-form.c-form-template-1.custom .widget-form-buttons-wrap {
    font-size: 15px;
}
.dropdown-block.bx-ui-sls-input-block.custom {
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f0f0f0;
    border:none;
    height: 36px;
}
.header_custom {
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.call-us-header{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    outline: none;
    padding: 9px 10px;
    background: transparent;
    border: none;
    line-height: 1;
}

.dropdown-block.bx-ui-sls-input-block.custom .button{
    position: absolute;
    left:-1500px;
}
#popup-window-content-city-order .form-control-custom {
    padding-bottom: 10px;
}
#popup-window-content-city-order .form {
    text-align: center;
    width: 100%;
}
.dropdown-block.bx-ui-sls-input-block.custom .bx-sls .bx-ui-sls-container {
    min-height: 36px;
}
.bx-sls .dropdown-block.bx-ui-sls-input-block.custom  {
    padding: 0 85px 0 10px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-authorization-panel {
    display: none;
}
.c-header.c-header-template-1 .widget-search-wrap.intec-grid-item-auto .widget-item.widget-search, .c-header.c-header-template-1 .widget-authorization-wrap{
    display:none;
}
#popup-window-content-city-order .head-wrap h4 {
    font-size: 17px;
}
.picture_types .descr_picture{
    display:none;
}
.picture_types .descr_picture.active {
    display: block;
}
.widget.c-widget.c-widget-contact-1 .widget-content, .widget.c-widget.c-widget-contact-1 .widget-content-wrapper, .widget.c-widget.c-widget-contact-1 .widget-content-wrapper-2 {
    min-height: 500px !important;
}

.widget.c-widget.c-widget-buttontop .widget-button {
    left: 20px !important;
}

@media (max-width: 768px){
a.widget-container-phone-text.intec-cl-text-hover {
    font-size: 0;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    margin: 0;
    background: #3498db url(/include/ico_tel.svg)no-repeat center;
    display: block;
}
}
.packages .descr {
    display: none;
}
.packages .descr.active {
    display: block;
}
.complectation-block-wrap .price-calc-col {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.intec-template .intec-template-page {
    display: block;
    margin-bottom: -5px !important;
}
.c-rates-template-1-1 .widget-item-property:before {
    content: "\25cf";
    font-size: .85714286em;
    padding: .07142858em 0;
}
@media (min-width: 768px){
.widget.c-rates.c-rates-template-1-1 [data-slider=false] .widget-item {
    margin-top: -1px;
    margin-left: 15px !important;
    max-width: 23.5%;
}
}
.widget.c-rates.c-rates-template-1-1 .widget-item-name {
    font-size: 22px;
font-weight: 500;
line-height: 36px;
position: absolute;
top: 0;
left: 0;
width: 100%;
padding-left: 30px;
height: 35px;
padding-top: 4px;
}
.custom-nav {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
.custom-nav .owl-prev,
.custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.custom-nav .owl-prev i,
.custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.custom-nav .owl-prev {
  left: 0;
}
.custom-nav .owl-next {
  right: 0;
}
@media (min-width: 768px) {
  .custom-nav-mobile {
    display: none;
  }
  .custom-nav {
    display: block;
  }
}
@media (max-width: 768px) {
  .custom-nav-mobile {
    display: block;
  }
  .custom-nav {
    display: none;
  }
}
.owl-theme .owl-nav [class*='owl-'] {
  background: #3498db !important;
}
@media (max-width: 768px){
.widget.c-rates.c-rates-template-1-1 [data-slider=false] .widget-item {
    margin-top: 15px;
    margin-left: -1px;
}

}
div#premium {
    max-width: 115px;
margin-left: auto;
margin-right: auto;
font-weight: normal;
line-height: 1.1;
color: #383b47;
margin-bottom: 40px;
font-size: 12px;
font-family: Arial;
cursor: pointer;
border-bottom: 1px dashed #777;
margin-block-end: 0.67em;
text-align: center;
}
.ns-bitrix.c-catalog-element.c-catalog-element-services-default-3 .catalog-element-block {
    margin-top: 15px !important;
}
.intec-gallery.desktop-template .intec-gallery_item {
    width: 100% !important;
}
.widget.c-rates.c-rates-template-1-1 .widget-item-decoration {
    position: absolute;
    right: 30px;
    top: 10px;
}
.widget.c-rates.c-rates-template-1-1 [data-slider=true] .intec-ui-part-button-left, .widget.c-rates.c-rates-template-1-1 [data-slider=true] .intec-ui-part-button-right, .widget.c-rates.c-rates-template-2 [data-slider=true] .intec-ui-part-button-right, .widget.c-rates.c-rates-template-2 [data-slider=true] .intec-ui-part-button-left{
    background-color: #3498db !important;
}
.widget.c-rates.c-rates-template-1-1 [data-slider=true] .intec-ui-part-button-right:hover, .widget.c-rates.c-rates-template-2 [data-slider=true] .intec-ui-part-button-right:hover {
    background-color: #3498db !important;
}
.widget.c-rates.c-rates-template-1-1 .widget-item-sticker-wrap {
    position: absolute;
    right: 10%;
    top: 2%;
}
.widget.c-rates.c-rates-template-2 .widget-item {
    margin-left: 0px !important;
}
@media(max-width:768px){
.widget.c-rates.c-rates-template-1-1 .widget-item-discount {
    margin-top: 0px !important;
    position: absolute;
    bottom:80px;
}
}