.api-reviews-filter *{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.api-reviews-filter{position: relative;overflow: hidden; margin: 15px 0}
.api-reviews-filter .api-filter-btn{
	float: left;
	margin: 0 10px 0 0;
	/*border: 1px solid transparent;cursor: pointer;border-radius: 2px;padding: 1px 5px;*/
	-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-ms-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;
}
/*.api-reviews-filter .api-filter-btn.api-active,*/
/*.api-reviews-filter .api-filter-btn:hover{border-color: #333;}*/

.api-reviews-filter .api-filters{}
.api-reviews-filter .api-filters .api-filters-item{
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	padding-right: 6px;
	margin-right: 15px;
	color: #333;
	position: relative;
}
.api-reviews-filter .api-filters a:hover,
.api-reviews-filter .api-filters a:focus{text-decoration: underline;}
.api-reviews-filter .api-del-filter{
	display: block;
	position: absolute;
	z-index: 1;
	right: -10px;
	top: -2px;
	width: 16px;
	height: 16px;
	background: #fff;
	color: #000;
	opacity: .75;
	filter: alpha(opacity=75);
	line-height: 16px;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 50ms linear 0s;
	-moz-transition: all 50ms linear 0s;
	-ms-transition: all 50ms linear 0s;
	-o-transition: all 50ms linear 0s;
	transition: all 50ms linear 0s;
}
.api-reviews-filter .api-del-filter:hover,
.api-reviews-filter .api-del-filter:focus{background: #f00;color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);}
