$namespace: 'bitrix';
$component: 'catalog-section';
$template: 'catalog-tile-4';
$class: #{$component};

@mixin transition($time, $property) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -ms-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;

  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}
@mixin transition-duration($time) {
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -ms-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}
@mixin translateY($Y) {
  -webkit-transform: translateY($Y);
  -moz-transform: translateY($Y);
  -ms-transform: translateY($Y);
  -o-transform: translateY($Y);
  transform: translateY($Y);
}

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  position: relative;
  display: block;
  z-index: 1;

  &[data-borders='true'] {
    .#{$class}-items {
      margin-bottom: 1px;
    }
    .#{$class}-item {
      margin-right: -1px;
      margin-bottom: -1px;

      &-wrapper {
        border: 1px solid #e8e8e8;
      }
    }
  }
  .#{$class}-item-wrapper {
    &:hover {
      .#{$class}-item-quick-view {
        display: block;
      }
    }
  }
  .#{$class}-item-base {
    padding-bottom: 30px;
  }
  .#{$class}-item-advanced {
    display: none;
    padding-bottom: 54px;
  }
  .#{$class}-item-name {
    font-size: 0;
    margin: 20px 0;
    height: 42px;
    overflow: hidden;
    @extend %align;

    div, a {
      display: inline-block;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #404040;
      text-decoration: none;
      overflow: hidden;
      @include transition(0.4s, color);
      cursor: pointer;
    }
  }
  .#{$class}-item-vote {
    margin-top: 24px;
    margin-bottom: 20px;
    @extend %align;

    & .ns-bitrix.c-iblock-vote.c-iblock-vote-template-1 .iblock-vote-rating-item {
      font-size: 14px;
      padding: 0 6px;
    }
  }

  .#{$class}-item-information {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .#{$class}-item-quantity {
    display: none;

    &[data-offer='false'] {
      display: block;
    }
  }
  .#{$class}-item-quantity-icon {
    height: 4px;
    width: 4px;
    border-radius: 50%;

    &[data-quantity-state="many"], &[data-quantity-state="enough"] {
      background-color: #1DB940;
    }
    &[data-quantity-state="few"] {
      background-color: #F4BB28;
    }
    &[data-quantity-state="empty"] {
      background-color: #B0B0B0;
    }
  }
  .#{$class}-item-quantity-value {
    font-size: 12px;
    line-height: 16px;

    &[data-quantity-state="many"], &[data-quantity-state="enough"] {
      color: #1DB940;
      border-color: #1DB940;
    }
    &[data-quantity-state="few"] {
      color: #F4BB28;
      border-color: #F4BB28;
    }
    &[data-quantity-state="empty"] {
      color: #B0B0B0;
      border-color: #B0B0B0;
    }

    span {
      display: inline-block;

      &[data-popup="toggle"] {
        border-bottom: 1px dashed;
        cursor: pointer;
        @include transition(0.4s, border-color);
      }
    }
  }

  .catalog-section-item-quantity-value-numeric {
    color: #B0B0B0;
    margin-left: 4px;
  }

  .#{$class}-item-stores {
    position: absolute;
    width: 270px;
    top: 30px;
    left: -10px;
    z-index: 1;
    opacity: 0;
    background-color: #FFF;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    @include transition(0.4s, opacity);

    &.active {
      opacity: 1;
      pointer-events: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
    }

    @media all and (max-width: 600px) {
      width: 210px;
    }
  }

  .#{$class}-item-stores-background {
    padding: 30px;
  }

  .#{$class}-item-stores-header {
    margin-bottom: 24px;
  }

  .#{$class}-item-stores-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B1E25;
  }

  .#{$class}-item-stores-button-close {
    font-size: 18px;
    line-height: 18px;
    color: #B0B0B0;
    cursor: pointer;
  }

  .#{$class}-item-article-wrap {
    &[data-show='false'] {
      display: none;
    }
  }

  .#{$class}-item-article {
    font-size: 12px;
    line-height: 16px;
    color: #808080;
  }

  .#{$class}-item-image-container {
    position: relative;
    margin-bottom: 24px;
  }
  .#{$class}-item-marks {
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    pointer-events: none;
    z-index: 2;
  }
  .#{$class}-item-image {
    position: relative;
    padding-top: 100%;
    z-index: 1;
    display: none;

    &[data-offer='false'] {
      display: block;
    }
    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      white-space: nowrap;

      .owl-stage-outer,
      .owl-stage,
      .owl-item {
        height: 100%;
      }
    }
    &-element {
      display: block;
      height: 100%;
      white-space: nowrap;
      cursor: pointer;
    }
    img {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      vertical-align: middle;
    }
    .owl-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      opacity: 0;
      @include transition(0.4s, opacity);

      > button {
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #ababab;
        @include transition(0.4s, color);

        &:hover {
          color: #000;
        }
      }
      .disabled {
        color: #ebebeb!important;
      }
    }
    .owl-prev {
      left: -25px;
    }
    .owl-next {
      right: -25px;
    }

    .owl-dots {}

    .owl-dot {
      span {
        display: block;
        height: 2px;
        background: #F2F2F2;
      }
    }

  }

  .#{$class}-item-action-buttons {
    display: none;
    margin-bottom: 8px;
    text-align: center;

    &[data-offer='false'] {
      display: block;
    }
  }

  .#{$class}-item-action-button {
    margin-right: 16px;
    display: inline-block;
    font-size: 16px;
    line-height: 0;
    text-align: center;
    color: #B0B0B0;
    width: 20px;
    opacity: 0;
    cursor: pointer;
    @include transition(0.4s, null);

    &:last-child {
      margin: 0;
    }

    &-delay {
      display: inline-block;

      &[data-basket-state='delayed'] {
        display: none;
      }
    }
    &-delayed {
      display: none;

      &[data-basket-state='delayed'] {
        display: inline-block;
        opacity: 1;
      }
    }
    &-compare {
      display: inline-block;
      position: relative;
      top: 2px;

      &[data-compare-state='added'] {
        display: none;
      }
    }
    &-compared {
      display: none;
      position: relative;
      top: 2px;

      &[data-compare-state='added'] {
        display: inline-block;
        opacity: 1;
      }
    }
    &-quick-view {
      font-size: 18px;

      @media all and (max-width: 1200px) {
        display: none !important;
      }
    }
    &-order-fast {
      @media all and (max-width: 768px) {
        display: none !important;
      }
    }

    @media all and (max-width: 1200px) {
      opacity: 1;
    }
  }

  .#{$class}-item-quick-view {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: 0;
    text-align: center;
    z-index: 1;

    @media all and (max-width: 1200px) {
      display: none !important;
    }
  }
  .#{$class}-item-quick-view-button {
    display: inline-block;
    vertical-align: middle;
    visibility: visible;
    line-height: 1;
    padding: 10px;
    font-size: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 21px;
    color: #848790;
    opacity: 0.9;
    cursor: pointer;
  }
  .#{$class}-item-quick-view-button-icon,
  .#{$class}-item-quick-view-button-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }
  .#{$class}-item-quick-view-button-text {
    line-height: 1.5;
    margin-left: 10px;
  }
  .#{$class}-item-price {

    &-discount {
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      color: #404040;
    }
    &-base {
      display: none;
      font-size: 14px;
      line-height: 16px;
      color: #B0B0B0;
      text-decoration: line-through;
      visibility: hidden;
    }
    &[data-discount='true'] {
      .#{$class}-item-price-base {
        display: block;
        visibility: visible;
      }
    }
    @extend %align;
  }

  .#{$class}-item-price-extended-wrap {
    display: none;

    &[data-offer='false'] {
      display: block;
    }
  }

  .#{$class}-item-price-extended-button {
    position: relative;
    width: 25px;
    height: 15px;
    margin-right: 4px;
    vertical-align: middle;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    cursor: pointer;
    @include transition(0.4s, 'color, background-color, border-color');

    & .dots {
      height: 100%;
    }

    & .dot {
      width: 3px;
      height: 3px;
      margin: 0 1px;
      background: #404040;
      border-radius: 50%;
      @include transition(0.4s, background);
    }

    &:hover i {
      background: #FFFFFF;
    }
  }

  .#{$class}-item-price-extended {
    position: absolute;
    top: 30px;
    left: -10px;
    z-index: 1;
    width: 270px;
    opacity: 0;
    background-color: #FFF;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
    @include transition(0.4s, opacity);

    &.active {
      opacity: 1;
      pointer-events: initial;
      -webkit-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
    }

    @media all and (max-width: 600px) {
      width: 210px;
    }
  }

  .#{$class}-item-price-extended-background {
    padding: 30px;
  }

  .#{$class}-item-price-extended-header {
    margin-bottom: 24px;
  }

  .#{$class}-item-price-extended-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B1E25;
  }

  .#{$class}-item-price-extended-button-close {
    font-size: 18px;
    line-height: 18px;
    color: #B0B0B0;
    cursor: pointer;
  }

  .#{$class}-item-price-extended-item {
    position: relative;

    & + .#{$class}-item-price-extended-item {
      margin-top: 12px;
    }

    & .background-border {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
      z-index: -1;
      height: 1px;
      background-image: linear-gradient(90deg, #E8E8E8 50%, transparent 50%);
      background-position: bottom;
      background-size: 6px 1px;
    }
  }

  .#{$class}-item-price-extended-quantity {
    font-size: 12px;
    line-height: 12px;
    color: #808080;
    background: #FFF;
  }

  .#{$class}-item-price-extended-value {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #404040;
    background: #FFF;
  }

  .#{$class}-item-offers-properties {
    display: none;
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .#{$class}-item-offers-property {
    display: block;
    margin-top: 18px;

    &-title {
      font-size: 14px;
      line-height: 24px;
      color: #808080;
    }
    &-value-selected {
      font-size: 14px;
      line-height: 24px;
      color: #404040;
    }
    &-values {
      display: block;
      font-size: 0;
      margin: 4px -3px -3px -3px;
    }
    &-value {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 4px;
      border: 1px solid #F2F2F2;
      border-radius: 2px;
      cursor: pointer;
      background: #ffffff;
      color: #404040;
      overflow: hidden;
      @include user-select(none);
      @include transition-property(#{color, border-color, background-color, opacity, transform});
      @include transition-duration(#{0.4s, 0.4s, 0.4s, 0.4s, 0.2s});

      &:active {
        @include translateY(3px);
      }
      &[data-state="hidden"] {
        display: none;
      }
      &[data-state="enabled"] {}
      &[data-state="disabled"] {
        opacity: 0.25;
        border-color: #e8e8e8 !important;

        &:active {
          @include translateY(0);
        }
      }
      &[data-state="selected"] {
        color: #FFF;
      }
    }
    &-value-text {
      display: block;
      padding: 8px 10px;
      color: inherit;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      line-height: 12px;
      min-width: 24px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &-value-image {
      height: 20px;
      width: 20px;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2px;
      overflow: hidden;
    }
    &[data-type="picture"] {
      .#{$class}-item-offers-property-value {
        padding: 2px;
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        background-color: #FFFFFF !important;
      }
    }
    &[data-extended="true"] {
      display: none;
    }
    &[data-visible="false"] {
      display: none !important;
    }
  }
  .#{$class}-item-offers-property-extended {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    z-index: 4;
    opacity: 0;
    @include transition(0.4s, opacity);

    &[data-side='left'] {
      left: -30px;
    }
    &[data-side='right'] {
      right: -30px;
    }
    &-values {
      overflow: hidden;
      text-align: center;
    }
    &-value {
      position: relative;
      color: #000;
      cursor: pointer;
      margin-bottom: 10px;

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
      &-text {
        font-size: 12px;
        line-height: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include transition(0.4s, null);
      }
      &-image {
        width: 15px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        @include box-sizing(border-box);
        @include transition(0.4s, border);
      }
      &-overlay {
        position: absolute;
        top: 0;
        left: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background-color: #e8e8e8;
        opacity: 0.9;
        display: none;
        @include border-radius(50%);
      }
      &[data-state='hidden'] {
        display: none;
      }
      &[data-state='selected'] {
        .#{$class}-item-offers-property-extended-value-text {
          text-decoration: underline;
        }
      }
      &[data-state='disabled'] {
        .#{$class}-item-offers-property-extended-value-text {
          text-decoration: line-through;
          opacity: 0.4;
        }
        .#{$class}-item-offers-property-extended-value-overlay {
          display: block;
        }
      }
    }
    &[data-visible="false"] {
      display: none !important;
    }
  }


  .#{$class}-item-counter {
    .intec-ui-control-numeric {
      width: 100%;
      justify-content: space-between;

      .intec-ui-part-increment, .intec-ui-part-decrement {
        @media all and (max-width: 1000px) {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }

  .#{$class}-item-purchase {
    &-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
    &-buttons {
      display: none;

      &[data-offer='false'] {
        display: block;
      }
    }
    &-button {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 0;
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      @include transition(0.4s, background-color);

      & .intec-ui-part-effect {
        letter-spacing: initial;
      }

      &-add {
        display: block;

        &[data-basket-state='added'] {
          display: none;
        }
      }

      &-added {
        display: none;

        &[data-basket-state='added'] {
          display: block;
        }
      }
    }
  }
  .#{$class}-item-counter {
    text-align: center;

    .intec-ui-part-input {
      border-left: none;
      border-right: none;
    }
  }
  .#{$class}-item {
    position: relative;
    z-index: 1;

    &-wrapper {
      height: 100%;
      background-color: #FFF;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &[data-expanded='true'] {
      .#{$class}-item-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        min-height: 105%;
        margin: -10px -10px 0 -10px;
        padding: 30px 40px 0 40px;
        -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
        -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
        box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
        @include transition(0.4s, box-shadow);

        &:hover {
          .#{$class}-item-purchase-container {
            overflow: hidden;
            left: -1px;
            right: -1px;
            bottom: -1px;
          }
        }
      }
      .#{$class}-item-image {
        .owl-nav {
          opacity: 1;
        }
      }
      .#{$class}-item-action-button {
        opacity: 1;
      }
      .#{$class}-item-advanced {
        display: block;
      }
      .#{$class}-item-offers-properties {
        display: block
      }

      & [data-borders-style='rounded']:hover {
        .#{$class}-item-purchase-container {
          -webkit-border-radius: 0 0 10px 10px;
          -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
        }
      }
    }
    &:hover {
      z-index: 2;

      [data-borders-style='rounded'] {
        @include border-radius(10px);
      }
      [data-borders-style='squared'] {
        @include border-radius(0);
      }
    }
  }
  &[data-columns-desktop="4"] {
    .#{$class}-item-quick-view-button-icon,
    .#{$class}-item-quick-view-button-text {
      font-size: 10px;
    }

    &[data-wide="false"] {
      .intec-ui-part-increment, .intec-ui-part-decrement {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  &[data-borders='true'] {
    .#{$class}-item[data-expanded='true'] {
      .#{$class}-item-wrapper {
        overflow: visible;
      }
    }
  }
  [data-available='false'] {
    .#{$class}-item-counter {
      display: none;
    }
  }
  &[data-button='false'] {
    .#{$class}-item-advanced {
      padding-bottom: 0;
    }
  }

  %align {
    &[data-align='left'] {
      text-align: left;
    }
    &[data-align='center'] {
      text-align: center;
    }
    &[data-align='right'] {
      text-align: right;
    }
  }

  @media all and (max-width: 720px) {
    .#{$class}-item {
      &[data-expanded='true'] {

        .#{$class}-item-wrapper {
          position: relative;
          min-height: 100%;
          margin: 0!important;
          overflow: hidden;
          padding: 30px 30px 0 30px;
          @include border-radius(0!important);
        }
        [data-borders-style='rounded'] {
          &:hover {
            .#{$class}-item-purchase-container {
              @include border-radius(0!important);
            }
          }
        }
      }
    }
    .#{$class}-item-image {
      .owl-nav {
        opacity: 1;
      }
    }
    .#{$class}-item-action-button {
      opacity: 1;
    }
    .#{$class}-item-advanced {
      display: block;
    }
    .#{$class}-item-offers-property-extended {
      display: none;
    }
    .#{$class}-item-offers-property {
      &[data-extended='true'] {
        display: block;
      }
    }
  }

  .#{$class}-item-purchase-detail {
    display: none;
  }

  @media all and (max-width: 500px) {
    &[data-columns-mobile="2"] {
      .#{$class}-item {
        margin: 1px 0 1px;
        padding: 0 1px;

        .#{$class}-item-wrapper {
          position: relative;
          min-height: 100%;
          margin: 0 !important;
          overflow: hidden;
          padding: 20px 20px 0 20px;
          @include border-radius(0 !important);
        }
        [data-borders-style='rounded'] {
          &:hover {
            .#{$class}-purchase-container {
              @include border-radius(0 !important);
            }
          }
        }
      }

      &[data-borders="true"] {
        .#{$class}-item {
          padding: 0;
          margin-right: -1px;
          margin-bottom: -1px;
        }
      }

      .#{$class}-item-base {
        padding-bottom: 10px;
      }

      .#{$class}-item-price {
        overflow: hidden;
        height: auto;
      }

      .#{$class}-item-image-container {
        margin-bottom: 5px;
      }
      .#{$class}-item-image {
        padding-top: 100%;
        margin-bottom: 0;
      }

      .#{$class}-item-substrate,
      .#{$class}-item-vote,
      .#{$class}-item-quantity-wrap,
      .#{$class}-item-marks,
      .#{$class}-item-counter,
      .#{$class}-item-section,
      .#{$class}-item-price-extended-wrap,
      .#{$class}-item-offers-properties {
        display: none !important;
      }

      .#{$class}-item-base {
        padding-bottom: 20px;
      }

      .#{$class}-item-action-button {
        opacity: 1;
      }

      .#{$class}-item-name {
        height: 42px;
        margin-bottom: 10px;

        & div,
        & a {
          font-size: 14px;
        }
      }

      .#{$class}-item-price-discount {
        font-size: 16px;
      }
      .#{$class}-item-price-base {
        font-size: 11px;
      }

      .#{$class}-item-advanced {
        padding-bottom: 36px;
      }

      .#{$class}-item-purchase-button {
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      .#{$class}-item-purchase-buttons:not([data-offer="false"]) {
        display: none!important;
      }
      .#{$class}-item-purchase-buttons:not([data-offer="false"]) + .#{$class}-item-purchase-detail {
        display: block;
      }
    }
  }

  .#{$class}-more {
    display: block;
    font-size: 0;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1px;
    margin-top: 30px;

    + .#{$class}-navigation {
      margin-top: 20px;
    }
  }
  .#{$class}-more-button {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
  .#{$class}-more-icon,
  .#{$class}-more-text {
    display: inline-block;
    vertical-align: middle;
  }
  .#{$class}-more-icon {
    font-size: 16px;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    background: #0065ff;
    text-align: center;
    height: 16px;
    width: 16px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    -webkit-transition: transform 350ms;
    -moz-transition: transform 350ms;
    -ms-transition: transform 350ms;
    -o-transition: transform 350ms;
    transition: transform 350ms;
  }
  .#{$class}-more-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
  }
  .#{$class}-more-button:hover {
    .#{$class}-more-icon {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}