/* ========================================================================
   Component: Form
 ========================================================================== */
.api-form .api-required{ color: #f00; font: normal 18px/1 Tahoma, Arial, sans-serif; margin-left: 1px }
.api-form input[type="text"],
.api-form textarea,
.api-form select{ outline: none; width: 100%; max-width: 100%; padding: 4px 10px; font-family: inherit; font-size: inherit; border: 1px solid #c0c0be; }
.api-form input[type="text"]{ height: 36px; line-height: 36px; }
.api-form textarea{ min-height: 60px; transition: none; overflow: hidden; display: block; resize: none; }
.api-form input[type="text"]:focus,
.api-form textarea:focus{ background: #fafafa; color: rgba(0, 0, 0, .85); border-color: rgba(0, 0, 0, .2); -webkit-box-shadow: 4px 0 0 0 rgba(0, 0, 0, .2) inset; -moz-box-shadow: 4px 0 0 0 rgba(0, 0, 0, .2) inset; box-shadow: 4px 0 0 0 rgba(0, 0, 0, .2) inset; }
.api-form input[type="text"][readonly],
.api-form textarea[readonly],
.api-form select[readonly]{ background-color: #fafafa; color: #999; border: 1px solid #ddd; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.api-form .api-form-row{ margin-bottom: 15px; }
.api-form .api-form-label{ font-weight: bold; }
.api-form .api-field{ -webkit-transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease; -moz-transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease; -ms-transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease; -o-transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease; transition: background-color .3s ease-out, box-shadow .2s ease, border-color .2s ease; }
.api-form .api-field-error{ border: 1px solid #d95c5c !important; background: #fffafa !important; -webkit-box-shadow: 3px 0 0 0 #d95c5c inset !important; -moz-box-shadow: 3px 0 0 0 #d95c5c inset !important; box-shadow: 3px 0 0 0 #d95c5c inset !important; }