@font-face {
  font-family: 'ic_font';
  src: url('icons/ic_font/ic_font.eot');
  src: url('icons/ic_font/ic_font.eot?#iefix') format('embedded-opentype'),
  url('icons/ic_font/ic_font.ttf') format('truetype'),
  url('icons/ic_font/ic_font.woff') format('woff'),
  url('icons/ic_font/ic_font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 780px)
{
	.connection-calc .small-view {
	    display: none;
	}
}

@media (min-width: 964px){
	.connection-calc .additional-small {
	    display: none;
	}
}


@media (min-width: 320px){
	.connection-calc .calc-block .column {
	    padding-right: 6px;
	    padding-left: 6px;
	    max-width: 50%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 50%;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	}
}

.connection-calc{
	font-family: 'Gilroy';
}

.connection-calc .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.connection-calc .calc-col-wrap {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.connection-calc .content { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.connection-calc .content .col{
	    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.connection-calc h2.block-title {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 100%;
    font-weight: bold;
    line-height: 1.1;
    color: #383b47;
    font-size: 40px;
}

.connection-calc .calc-block .title {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.2;
    color: #383b47;
    margin-bottom: 12px;
}

.connection-calc .content .col .radioContainer{
	 margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

label.radioContainer{
	padding: 8px 10px;
    border: solid 2px;
    border-color: #c9ced6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    color: #9198a0;
        -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.connection-calc .content .col .radioContainer i{
	font-size: 24px;
    color: #2b44ff;
    font-family: "ic_font" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.connection-calc label.radioContainer:hover,
.complectations label.radioContainer:hover{
    border-color: #26cd58;
}

.connection-calc label.radioContainer:hover .checkmark,
.complectations label.radioContainer:hover .checkmark{
    border-color: #26cd58;
}

.connection-calc label.radioContainer:hover i,
.complectations label.radioContainer:hover i{
    color: #26cd58 !important;
}

.connection-calc label.radioContainer.active,
.complectations label.radioContainer.active{
    border-color: #2b44ff;
}

.connection-calc label.radioContainer input[type="checkbox"]:checked ~ .checkmark, label.radioContainer input[type="radio"]:checked ~ .checkmark,
.complectations label.radioContainer input[type="checkbox"]:checked ~ .checkmark, label.radioContainer input[type="radio"]:checked ~ .checkmark{
    border: 4px solid;
    border-color: #2b44ff;
}

.connection-calc label.radioContainer.active:hover i,
.complectations label.radioContainer.active:hover i{
	color: #2b44ff !important;
}

.ic_home:before {
    content: "";
}

.ic_flat:before {
    content: "";
}

.ic_cafe:before {
    content: "";
}

.ic_storage:before {
    content: "";
}

.ic_shop:before {
    content: "";
}

.ic_office:before {
    content: "";
}

.counter-wrap .step-control.step-down:after {
    content: "";
    font-family: "ic_font";
}

.counter-wrap .step-control.step-up:after {
    content: "";
    font-family: "ic_font";
}

.connection-calc .content .col .radioContainer .bottom-row{
	 display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #383b47;
    font-weight: 400;
}

label.radioContainer input[type="checkbox"], label.radioContainer input[type="radio"]{
	display: none;
}

label.radioContainer .checkmark{
	display: block;
    margin-left: 10px;
    margin-right: 0px;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: #c9ced6;
    border-radius: 16px;
}

.connection-calc .content .col .radioContainer .bottom-row .checkmark {
    margin-left: 0;
    margin-right: 10px;
}

.irs--homelte {
  height: 55px; }

  .irs--homelte.irs-with-grid {
    height: 70px; 
	width: 100%;
}

  .irs--homelte .irs-grid-pol {
    display: none; }
  .irs--homelte .irs-min,
  .irs--homelte .irs-max {
    display: none; }
  .irs--homelte .irs-line {
    top: 33px;
    height: 4px;
    background: #e2e5eb;
    border: 2px solid #e2e5eb;
    border-radius: 4px; }
  .irs--homelte .irs-bar {
    top: 33px;
    height: 4px;
    border: 2px solid #e2e5eb;
    background: #e2e5eb;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5); }
    .irs--homelte .irs-bar--single {
      border-radius: 4px 0 0 4px; }
  .irs--homelte .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: fade(#428bca, 50%); }
  .irs--homelte .irs-handle {
    top: 25px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    background-color: #2b44ff;
    box-shadow: 0 4px 4px 0 rgba(10, 31, 68, 0.16);
    border-radius: 24px; }
    .irs--homelte .irs-handle.state_hover, .irs--homelte .irs-handle:hover {
      background-color: #2b44ff; }
  .irs--homelte .irs-min,
  .irs--homelte .irs-max {
    top: 0;
    padding: 1px 5px;
    color: white;
    text-shadow: none;
    background-color: #9f9f9f;
    border-radius: 3px; }
  .irs--homelte .irs-from,
  .irs--homelte .irs-to,
  .irs--homelte .irs-single {
    background: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #2b44ff; }
  .irs--homelte .irs-grid-pol {
    background-color: #428bca; }
  .irs--homelte .irs-grid-text {
    font-size: 16px;
    line-height: 1.25;
    color: #9198a0; }

.connection-calc .room_example-wrap {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.counter-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px;
    height: 40px;
    width: 110px;
    border-radius: 40px;
    background-color: #fff;
    border: 2px solid #c9ced6;
}

.counter-wrap .step-control {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #2b44ff;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.counter-wrap .steps {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #383b47;
}

.selectize-control {
    position: relative;
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 40px;
    border: 2px solid #c9ced6;
}

.connection-calc label.checkbox,
.complectations label.checkbox,
.form-wraper label.checkbox{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.connection-calc label.checkbox span{
	font-weight: 400;
}

.connection-calc label.checkbox input,
.complectations label.checkbox input,
.form-wraper  label.checkbox input{
    display: none;
}

.connection-calc label.checkbox .checkmark,
.complectations label.checkbox .checkmark,
.form-wraper  label.checkbox .checkmark{
    position: relative;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: 2px solid #2b44ff;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: -4px;
}

.connection-calc input,
.complectations input,
.form-wraper input{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    text-align: left !important;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #c9ced6;
    border-radius: 4px;
    background-color: #fff;
    height: 44px;
    padding: 0 12px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #383b47 !important;
}

.connection-calc .form-control-custom {
    width: 100%;
    position: relative;
    z-index: 2;
}

.connection-calc .form-control-custom.double {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    margin-bottom: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.connection-calc .form-wrap .double .left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-right: 10px;
}

.connection-calc .form-wrap .double .right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
    padding-left: 10px;
    margin-top: 0;
}

.connection-calc .btn,
.complectations .btn,
.form-wraper .btn{
    background-image: none;
	width: 100%;
    margin-bottom: 14px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border-color: #2b44ff;
    background-color: #2b44ff;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: bold;
    padding: 9px 16px 7px;
    border-radius: 100px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.connection-calc .btn:hover,
.connection-calc .btn:focus,
.complectations .btn:hover,
.complectations .btn:focus,
.form-wraper .btn:hover,
.form-wraper .btn:focus{
    background-color: #2b44ff;
}

.selectize-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

@media (max-width: 963px){
	.connection-calc .calc-col-wrap {
	    padding-right: 6px;
	    padding-left: 6px;
	    max-width: 100%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 100%;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	}

	.connection-calc .room_example-wrap {
	    padding-right: 6px;
	    padding-left: 6px;
	    max-width: 100%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 100%;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	}

	.connection-calc .big-view {
	    display: none;
	}

	.connection-calc .additional-small {
	    display: none;
	}

	.connection-calc .content .col {
	    padding-right: 6px;
	    padding-left: 6px;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 50%;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

.connection-calc .agreement a,
.complectations .agreement a,
.form-wraper .agreement a{
	font-weight: 500;
	color: #6e7782;
}

.complectations .agreement a{
    font-size: 13px;
    line-height: 16px;
}

.connection-calc label.checkbox input:checked + .checkmark,
.complectations label.checkbox input:checked + .checkmark,
.form-wraper label.checkbox input:checked + .checkmark{
    background-image: url(icons/on.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.connection-calc .room_example-wrap .img-wrap{
	margin-bottom: 40px;
}

.alarm,
.alarm a{
    border-color: #EB5757 !important;
    color: #EB5757 !important;
}

.complectation-block-wrap{
	font-family: 'Gilroy';
}

.complectation-block-wrap h2{
	width: 100%;
	font-weight: bold;
    line-height: 1.1;
    color: #383b47;
    margin-bottom: 40px;
    font-size: 40px;
}

.container.bx-content-seection{
	background-color: #F2F3F7;
}

.product-col.long-card {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.product-col {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-bottom: 20px;
}

.product-col .product-card {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 26px 0 rgba(10, 31, 68, 0.12);
    box-shadow: 0 0 26px 0 rgba(10, 31, 68, 0.12);
    background-color: #ffffff;
    height: 100%;
}

.product-col .product-card .left-col {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    padding-right: 20px;
}

.product-col .product-card .right-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-col .product-card .left-col .pic-wrap, .product-col .product-card .right-col .pic-wrap {
    position: relative;
}

.product-col .product-card .left-col .pic-wrap img {
    max-width: 120px;
}

.product-col .product-card .left-col .pic-wrap i {
    color: #2b44ff;
    position: absolute;
    bottom: 0;
    right: -10px;
    cursor: pointer;
    font-family: "ic_font" !important;
    font-style: normal;
    line-height: 1;
    font-size: 16px;
}

.ic_info:before {
    content: "";
}

.row-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-col .product-card .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    color: #383b47;
    margin-bottom: 4px;
}

.product-col .product-card .price {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #6e7782;
    margin-bottom: 12px;
}

.product-col .product-card .packages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 12px;
}

.product-col .product-card .packages .radioContainer {
    margin-bottom: 12px;
    margin-right: 12px;
}

.product-col .product-card .descr {
    font-size: 13px;
    line-height: 1.23;
    color: #9198a0;
}

.complectation-block-wrap .price-calc-col {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

}
.complectation-block-wrap .price-calc-col .total {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #383b47;
    margin-bottom: 12px;
}

.complectation-block-wrap .price-calc-col .price {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.13;
    color: #383b47;
    margin-right: 12px;
    display: block;
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    border-color: #2b44ff;
    background-color: #2b44ff;
}

.complectation-block-wrap .feedback-col {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}

.complectation-block-wrap .feedback-col .feedback-wrap {
    background-image: -o-linear-gradient(22deg, rgba(255, 255, 255, 0.5), #d5dee7), -o-linear-gradient(top, #e8ebf2, rgba(255, 255, 255, 0.5) 47%, #e2e7ed), -o-linear-gradient(top, #d5dee7, #e8ebf2 50%, #e2e7ed);
    background-image: linear-gradient(68deg, rgba(255, 255, 255, 0.5), #d5dee7), linear-gradient(to bottom, #e8ebf2, rgba(255, 255, 255, 0.5) 47%, #e2e7ed), linear-gradient(to bottom, #d5dee7, #e8ebf2 50%, #e2e7ed);
    border-radius: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    padding: 20px;
}

.complectation-block-wrap .feedback-col .feedback-wrap .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #383b47;
    margin-right: 4px;
}

.complectation-block-wrap .feedback-col .feedback-wrap .descr {
    font-size: 16px;
    line-height: 1.5;
    color: #6e7782;
    margin-bottom: 12px;
}

.complectation-block-wrap .feedback-col .feedback-wrap .bottom-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .left-col {
    padding-right: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .right-col {
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .sub-descr {
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.23;
    color: #383b47;
}

.complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .right-col .btn {
    width: 100%;
    margin-bottom: 10px;
}

.complectations .btn-green {
    color: #26cd58;
    border-color: #fff;
    background-color: #fff;
}

@media (min-width: 964px)
{
	.complectation-block-wrap .g-small {
	    display: none;
	}
}

.popup-window-content .product-details-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.popup-window-content .product-details-wrap .slider-wrap .slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.popup-window-content .product-details-wrap .left-col {
    padding-right: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-bottom: 20px;
}

.popup-window-content .product-details-wrap .left-col img {
    max-width: 100%;
}

.popup-window-content .product-details-wrap .right-col {
    max-height: 370px;
    overflow: auto;
    padding-left: 10px;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.popup-window-content .product-details-wrap .right-col .descr-line:last-child {
    margin-bottom: 0;
}

.popup-window-content .product-details-wrap .right-col .descr-line .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #383b47;
    margin-bottom: 4px;
}

.popup-window-content .product-details-wrap .right-col .descr-line .descr {
    font-size: 13px;
    line-height: 1.23;
    color: #9198a0;
}

.popup-window-content, .popup-window.popup-window-with-titlebar {
    padding: 25px 35px 0;
    min-width: 320px;
}

.popup-window-content .head-wrap h4{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
}

.popup-window-content{
    overflow: hidden !important;
}


.popup-window-content .form-wraper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.popup-window-content .form-wraper .under-title {
    font-size: 16px;
    line-height: 1.25;
    color: #383b47;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.popup-window-content .form-wraper .left-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.popup-window-content .modal-body .price-calc-col {
    margin-bottom: 20px;
    max-width: 288px;
}

.popup-window-content .form-wraaper .form {
    margin-bottom: 36px;
}

.popup-window-content .body .price-calc-col {
    margin-bottom: 20px;
    max-width: 288px;
}

.popup-window-content .body .price-calc-col .price {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.13;
    color: #383b47;
    margin-right: 12px;
}

.popup-window-content .form-wraper .form-control-custom {
    margin-bottom: 12px;
}

.popup-window-content .form-wraper .btn {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 8px;
}

.popup-window-content .form-wraper label {
    font-size: 13px;
    line-height: 1.23;
    color: #9198a0;
}

.popup-window-content .form-wraper .sub-descr {
    font-size: 13px;
    line-height: 1.23;
    color: #383b47;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.popup-window-content .form-wraper .right-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-left: 20px;
}

.popup-window-content .form-wraper .right-col .order_complect {
    position: absolute;
    max-width: 90%;
}

.popup-window-content .form-wraper .sub-descr a{
    display: inline-block;
    margin-top: 3px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #383b47;
}

@media (max-width: 480px){
    .complectation-block-wrap {
        padding: 0 21px;
    }
    .complectation-block-wrap h2{
        font-size: 28px;
    }
    .product-col.long-card {
        padding-right: 6px;
        padding-left: 6px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-col {
        width: 100%;
        flex: auto;
        max-width: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-direction: normal;
        margin-bottom: 20px;
    }
    .product-col .product-card .left-col, .product-col .product-card .right-col{
        max-width: 100% !important;
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        -webkit-box-pack: start !important;
        -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .product-col .product-card{
        flex-wrap: wrap;
    }

    .complectation-block-wrap .price-calc-col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .complectations .btn{
        width: auto;
    }
    .complectation-block-wrap .feedback-col{
        max-width: none;
        flex: auto;
    }
    .complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .left-col,
    .complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .right-col{
        padding-right: 0;
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .complectation-block-wrap .feedback-col .feedback-wrap .bottom-row .right-col{
        margin-top: 20px;
    }
}
