.widget.c-widget.c-widget-products-2 {
  position: relative;
  display: block;
  z-index: 1;
}
.widget.c-widget.c-widget-products-2 .widget-items {
  z-index: 0;
}
.widget.c-widget.c-widget-products-2 .widget-item {
  position: relative;
  z-index: 0;
}
.widget.c-widget.c-widget-products-2 .widget-item-wrapper {
  display: block;
  position: relative;
  padding: 25px;
}
.widget.c-widget.c-widget-products-2[data-borders=true] .widget-items {
  margin-bottom: 1px;
}
.widget.c-widget.c-widget-products-2[data-borders=true] .widget-item {
  margin-right: -1px;
  margin-bottom: -1px;
}
.widget.c-widget.c-widget-products-2[data-borders=true] .widget-item-wrapper {
  border: 1px solid #e8e8e8;
}
.widget.c-widget.c-widget-products-2 .widget-item-wrapper:hover .widget-item-quick-view {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-base {
  padding-bottom: 30px;
}
.widget.c-widget.c-widget-products-2 .widget-item-advanced {
  display: none;
  padding-bottom: 54px;
}
.widget.c-widget.c-widget-products-2 .widget-item-name {
  font-size: 0;
  margin-bottom: 20px;
  height: 42px;
  overflow: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-name div, .widget.c-widget.c-widget-products-2 .widget-item-name a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-section {
  font-size: 0;
  margin-bottom: 20px;
  height: 21px;
  overflow: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-section a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  overflow: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-vote {
  margin-top: 15px;
  margin-bottom: 15px;
}
.widget.c-widget.c-widget-products-2 .widget-item-vote .ns-bitrix.c-iblock-vote.c-iblock-vote-template-1 .iblock-vote-rating-item {
  font-size: 13px;
  padding: 0 3px;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity-wrap {
  margin-top: 15px;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity {
  margin-bottom: 10px;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  color: #777;
  text-align: left;
  white-space: normal;
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity[data-offer=false] {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity-icon {
  margin-right: 5px;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity-check {
  color: #14cc8d;
}
.widget.c-widget.c-widget-products-2 .widget-item-quantity-times {
  color: #fa9696;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-container {
  position: relative;
  margin-bottom: 20px;
}
.widget.c-widget.c-widget-products-2 .widget-item-marks {
  position: absolute;
  top: -15px;
  left: -15px;
  right: 20px;
  pointer-events: none;
  z-index: 2;
}
.widget.c-widget.c-widget-products-2 .widget-item-image {
  position: relative;
  padding-top: 125%;
  z-index: 1;
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-offer=false] {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-wrapper .owl-stage-outer,
.widget.c-widget.c-widget-products-2 .widget-item-image-wrapper .owl-stage,
.widget.c-widget.c-widget-products-2 .widget-item-image-wrapper .owl-item {
  height: 100%;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-element {
  display: block;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.widget.c-widget.c-widget-products-2 .widget-item-image img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: -5px;
  min-height: 5px;
  z-index: 2;
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-buttons[data-offer=false] {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button {
  font-size: 16px;
  line-height: 0;
  text-align: center;
  color: #bfc0c0;
  width: 20px;
  margin-bottom: 15px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-delay {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-delay[data-basket-state=delayed] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-delayed {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-delayed[data-basket-state=delayed] {
  display: block;
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-compare {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-compare[data-compare-state=added] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-compared {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-image-button-compared[data-compare-state=added] {
  display: block;
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item-image .owl-nav {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-image .owl-nav > button {
  color: #ababab;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-image .owl-nav > button:hover {
  color: #000;
}
.widget.c-widget.c-widget-products-2 .widget-item-image .owl-nav .disabled {
  color: #ebebeb !important;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=extended] .owl-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0;
  text-align: right;
  margin-left: -5px;
  margin-right: -5px;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=extended] .owl-nav > button {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=default] .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=default] .owl-nav > button {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=default] .owl-prev {
  left: -25px;
}
.widget.c-widget.c-widget-products-2 .widget-item-image[data-view=default] .owl-next {
  right: -25px;
}
.widget.c-widget.c-widget-products-2 .widget-item-quick-view {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  font-size: 0;
  text-align: center;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .widget.c-widget.c-widget-products-2 .widget-item-quick-view {
    display: none !important;
  }
}
.widget.c-widget.c-widget-products-2 .widget-item-quick-view-button {
  display: inline-block;
  vertical-align: middle;
  visibility: visible;
  line-height: 1;
  padding: 10px;
  font-size: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 21px;
  color: #848790;
  opacity: 0.9;
  cursor: pointer;
}
.widget.c-widget.c-widget-products-2 .widget-item-quick-view-button-icon,
.widget.c-widget.c-widget-products-2 .widget-item-quick-view-button-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.widget.c-widget.c-widget-products-2 .widget-item-quick-view-button-text {
  line-height: 1.5;
  margin-left: 10px;
}
.widget.c-widget.c-widget-products-2 .widget-item-price {
  height: 51px;
}
.widget.c-widget.c-widget-products-2 .widget-item-price-discount {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #1d1d1d;
}
.widget.c-widget.c-widget-products-2 .widget-item-price-base {
  font-size: 16px;
  line-height: 1.2;
  color: #888888;
  text-decoration: line-through;
  visibility: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-price[data-discount=true] .widget-item-price-base {
  visibility: visible;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-properties {
  margin-top: -15px;
  margin-bottom: 30px;
  min-height: 15px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property {
  display: block;
  margin-top: 15px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-title {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-values {
  display: block;
  font-size: 0;
  margin: 4px -3px -3px -3px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 3px;
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  cursor: pointer;
  background: #fff;
  color: #222222;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: color, border-color, background-color, opacity, transform;
  -moz-transition-property: color, border-color, background-color, opacity, transform;
  -ms-transition-property: color, border-color, background-color, opacity, transform;
  -o-transition-property: color, border-color, background-color, opacity, transform;
  transition-property: color, border-color, background-color, opacity, transform;
  -webkit-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -moz-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -ms-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -o-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value[data-state=hidden] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value[data-state=disabled] {
  opacity: 0.5;
  border-color: #e8e8e8 !important;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value[data-state=disabled]:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value[data-state=selected] {
  background: #e8e8e8;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value-text {
  display: block;
  padding: 4px 9px;
  color: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  min-width: 24px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value-image {
  height: 24px;
  width: 24px;
  text-align: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-value-image i {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 0;
  color: #FFF;
  opacity: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property[data-type=picture] .widget-item-offers-property-value {
  border-radius: 17px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property[data-type=picture] [data-state=selected] i {
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property[data-extended=true] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property[data-visible=false] {
  display: none !important;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  z-index: 4;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended[data-side=left] {
  left: -30px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended[data-side=right] {
  right: -30px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-values {
  overflow: hidden;
  text-align: center;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value {
  position: relative;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value:nth-last-child(2) {
  margin-bottom: 0;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value-text {
  font-size: 12px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value-image {
  width: 15px;
  height: 15px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -ms-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value-overlay {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: #e8e8e8;
  opacity: 0.9;
  display: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value[data-state=hidden] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value[data-state=selected] .widget-item-offers-property-extended-value-text {
  text-decoration: underline;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value[data-state=disabled] .widget-item-offers-property-extended-value-text {
  text-decoration: line-through;
  opacity: 0.4;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended-value[data-state=disabled] .widget-item-offers-property-extended-value-overlay {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended[data-visible=false] {
  display: none !important;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-buttons {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-buttons[data-offer=false] {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-button {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-button-add {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-button-add[data-basket-state=added] {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-button-added {
  display: none;
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-button-added[data-basket-state=added] {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item-counter {
  text-align: center;
}
.widget.c-widget.c-widget-products-2 .widget-item-counter .intec-ui-part-input {
  border-left: none;
  border-right: none;
}
.widget.c-widget.c-widget-products-2 .widget-item {
  position: relative;
  z-index: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item-wrapper {
  height: 100%;
  background-color: #FFF;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 105%;
  margin: -10px -10px 0 -10px;
  padding: 40px 40px 0 40px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s;
  -ms-transition: box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-wrapper:hover .widget-item-purchase-container {
  overflow: hidden;
  left: -1px;
  right: -1px;
  bottom: -1px;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-image .owl-nav {
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-image-button {
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-advanced {
  display: block;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-offers-property-extended {
  opacity: 1;
}
.widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] [data-borders-style=rounded]:hover .widget-item-purchase-container {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.widget.c-widget.c-widget-products-2 .widget-item:hover {
  z-index: 2;
}
.widget.c-widget.c-widget-products-2 .widget-item:hover [data-borders-style=rounded] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.widget.c-widget.c-widget-products-2 .widget-item:hover [data-borders-style=squared] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.widget.c-widget.c-widget-products-2[data-columns-desktop="4"] .widget-item-quick-view-button-icon,
.widget.c-widget.c-widget-products-2[data-columns-desktop="4"] .widget-item-quick-view-button-text {
  font-size: 10px;
}
.widget.c-widget.c-widget-products-2[data-borders=true] .widget-item[data-expanded=true] .widget-item-wrapper {
  overflow: visible;
}
.widget.c-widget.c-widget-products-2[data-indents=true] .widget-item[data-expanded=true] .widget-item-wrapper {
  margin: 0px;
}
.widget.c-widget.c-widget-products-2 [data-available=false] .widget-item-counter {
  display: none;
}
.widget.c-widget.c-widget-products-2[data-button=false] .widget-item-advanced {
  padding-bottom: 0;
}
.widget.c-widget.c-widget-products-2 [data-align=left].widget-item-name, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-section, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-vote, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-quantity, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-price, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-offers-property-title, .widget.c-widget.c-widget-products-2 [data-align=left].widget-item-offers-property-values {
  text-align: left;
}
.widget.c-widget.c-widget-products-2 [data-align=center].widget-item-name, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-section, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-vote, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-quantity, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-price, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-offers-property-title, .widget.c-widget.c-widget-products-2 [data-align=center].widget-item-offers-property-values {
  text-align: center;
}
.widget.c-widget.c-widget-products-2 [data-align=right].widget-item-name, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-section, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-vote, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-quantity, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-price, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-offers-property-title, .widget.c-widget.c-widget-products-2 [data-align=right].widget-item-offers-property-values {
  text-align: right;
}
@media all and (max-width: 720px) {
  .widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] .widget-item-wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .widget.c-widget.c-widget-products-2 .widget-item[data-expanded=true] [data-borders-style=rounded]:hover .widget-item-purchase-container {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .widget.c-widget.c-widget-products-2 .widget-item-image .owl-nav {
    opacity: 1;
  }
  .widget.c-widget.c-widget-products-2 .widget-item-image-button {
    opacity: 1;
  }
  .widget.c-widget.c-widget-products-2 .widget-item-advanced {
    display: block;
  }
  .widget.c-widget.c-widget-products-2 .widget-item-offers-property-extended {
    display: none;
  }
  .widget.c-widget.c-widget-products-2 .widget-item-offers-property[data-extended=true] {
    display: block;
  }
}
.widget.c-widget.c-widget-products-2 .widget-more {
  display: block;
  font-size: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1px;
  margin-top: 30px;
}
.widget.c-widget.c-widget-products-2 .widget-more + .widget-navigation {
  margin-top: 20px;
}
.widget.c-widget.c-widget-products-2 .widget-more-button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.widget.c-widget.c-widget-products-2 .widget-more-icon,
.widget.c-widget.c-widget-products-2 .widget-more-text {
  display: inline-block;
  vertical-align: middle;
}
.widget.c-widget.c-widget-products-2 .widget-more-icon {
  font-size: 16px;
  color: #fff;
  padding: 7px;
  border-radius: 50%;
  background: #0065ff;
  text-align: center;
  height: 16px;
  width: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: transform 350ms;
  -moz-transition: transform 350ms;
  -ms-transition: transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
}
.widget.c-widget.c-widget-products-2 .widget-more-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 10px;
}
.widget.c-widget.c-widget-products-2 .widget-more-button:hover .widget-more-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.widget.c-widget.c-widget-products-2 .widget-item-purchase-buttons:not([data-offer=false]) + .widget-item-purchase-detail {
  display: none;
}
@media all and (max-width: 500px) {
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item {
    margin: 1px 0 1px;
    padding: 0 1px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item .widget-item-wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 25px 25px 0 25px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item [data-borders-style=rounded]:hover .widget-item-purchase-container {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"][data-borders=true] .widget-item {
    padding: 0;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget.c-widget.c-widget-products-2 .widget-item-base {
    padding-bottom: 10px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-price {
    overflow: hidden;
    height: auto;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-image-container {
    margin-bottom: 5px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-image {
    padding-top: 100%;
    margin-bottom: 0px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-substrate,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-vote,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-quantity-wrap,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-marks,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-counter,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-section,
.widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-offers-properties {
    display: none;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-base {
    padding-bottom: 20px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-name {
    height: 38px;
    margin-bottom: 10px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-name div, .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-name a {
    font-size: 14px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-price-discount {
    font-size: 16px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-price-base {
    font-size: 11px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-advanced {
    padding-bottom: 36px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-offers-properties {
    margin-bottom: 20px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-offers-property {
    margin-top: 10px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-offers-property-value {
    margin: 2px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-offers-property-value-text {
    padding: 2px 6px;
    font-size: 10px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-purchase-button {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-purchase-buttons:not([data-offer=false]) {
    display: none !important;
  }
  .widget.c-widget.c-widget-products-2[data-columns-mobile="2"] .widget-item-purchase-buttons:not([data-offer=false]) + .widget-item-purchase-detail {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
