/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.sw24PopupPro {
 opacity: 0;
}

/*for personal popuppro windows*/
.popup-window.sw24PopupPro {
 padding: 0;
 /*background-color: transparent;*/
 /*-webkit-transition-property: opacity;*/
 /*-o-transition-property: opacity;*/
 /*transition-property: opacity;*/
 /*-webkit-transition-duration: .5s;*/
 /*-o-transition-duration: .5s;*/
 /*transition-duration: .5s;*/
 z-index: 99998 !important;
}

.popup-window.sw24PopupPro .popup-window-content {
 background-color: transparent;
}

.popup-window.sw24PopupPro .popup-window-close-icon {
 position: absolute;
 top: 0px;
 right: 0px;
 width: 25px;
 height: 25px;
 opacity: .6 !important;
 background: rgba(0, 0, 0, 1);
 z-index: 99999;
}

.popup-window.sw24PopupPro .popup-window-close-icon:hover {
 opacity: 1 !important;
}

.popup-window.sw24PopupPro .popup-window-close-icon:before {
 content: ' ';
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
 position: absolute;
 top: 2px;
 right: 11px;
 width: 2px;
 height: 20px;
 background-color: #fff;
}

.popup-window.sw24PopupPro .popup-window-close-icon:after {
 content: ' ';
 -webkit-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
 position: absolute;
 top: 2px;
 left: 12px;
 width: 2px;
 height: 20px;
 background-color: #fff;
}
.sk24-button-window-popup{
 display: none;
}
.sk24-button-window-popup a{
 right: inherit;
 bottom: inherit;
 left: inherit;
 top: inherit;
}
.sk24-button-window-popup .btn{
 position: fixed;
 right: inherit;
 bottom: inherit;
 left: inherit;
 top: inherit;
 z-index: 999;
 width: 70px;
 height: 70px;
 background: #f2f2f2;
 padding: 10px;
 border-radius: 50%;
 margin: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0px 0px 74px -37px rgba(0,0,0,0.45);
}
.sk24-button-window-popup .btn{
 font-size: 35px;
}
.sk24-button-window-popup.show{
 display: block;
}



@media (min-width: 450px) and (max-width: 720px) and (orientation: landscape) {
 .popup-window.sw24PopupPro {
  max-width: 90%;
 }
}