.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 {
  position: relative;
  display: block;
  z-index: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-borders=true] .catalog-section-items {
  margin-bottom: 1px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-borders=true] .catalog-section-item {
  margin-right: -1px;
  margin-bottom: -1px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-borders=true] .catalog-section-item-wrapper {
  border: 1px solid #e8e8e8;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-wrapper:hover .catalog-section-item-quick-view {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-base {
  padding-bottom: 30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-advanced {
  display: none;
  padding-bottom: 54px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-name {
  font-size: 0;
  margin: 20px 0;
  height: 42px;
  overflow: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-name div, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-name a {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #404040;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-vote {
  margin-top: 24px;
  margin-bottom: 20px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-vote .ns-bitrix.c-iblock-vote.c-iblock-vote-template-1 .iblock-vote-rating-item {
  font-size: 14px;
  padding: 0 6px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-information {
  margin-top: 20px;
  margin-bottom: 26px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity[data-offer=false] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-icon {
  height: 4px;
  width: 4px;
  border-radius: 50%;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-icon[data-quantity-state=many], .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-icon[data-quantity-state=enough] {
  background-color: #1DB940;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-icon[data-quantity-state=few] {
  background-color: #F4BB28;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-icon[data-quantity-state=empty] {
  background-color: #B0B0B0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value {
  font-size: 12px;
  line-height: 16px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value[data-quantity-state=many], .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value[data-quantity-state=enough] {
  color: #1DB940;
  border-color: #1DB940;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value[data-quantity-state=few] {
  color: #F4BB28;
  border-color: #F4BB28;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value[data-quantity-state=empty] {
  color: #B0B0B0;
  border-color: #B0B0B0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value span {
  display: inline-block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value span[data-popup=toggle] {
  border-bottom: 1px dashed;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -ms-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quantity-value-numeric {
  color: #B0B0B0;
  margin-left: 4px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores {
  position: absolute;
  width: 270px;
  top: 30px;
  left: -10px;
  z-index: 1;
  opacity: 0;
  background-color: #FFF;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores.active {
  opacity: 1;
  pointer-events: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
@media all and (max-width: 600px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores {
    width: 210px;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores-background {
  padding: 30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores-header {
  margin-bottom: 24px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1B1E25;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-stores-button-close {
  font-size: 18px;
  line-height: 18px;
  color: #B0B0B0;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-article-wrap[data-show=false] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-article {
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-container {
  position: relative;
  margin-bottom: 24px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-marks {
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  pointer-events: none;
  z-index: 2;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image {
  position: relative;
  padding-top: 100%;
  z-index: 1;
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image[data-offer=false] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-wrapper .owl-stage-outer,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-wrapper .owl-stage,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-wrapper .owl-item {
  height: 100%;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image-element {
  display: block;
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-nav > button {
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ababab;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-nav > button:hover {
  color: #000;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-nav .disabled {
  color: #ebebeb !important;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-prev {
  left: -25px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-next {
  right: -25px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-dot span {
  display: block;
  height: 2px;
  background: #F2F2F2;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-buttons {
  display: none;
  margin-bottom: 8px;
  text-align: center;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-buttons[data-offer=false] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button {
  margin-right: 16px;
  display: inline-block;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  color: #B0B0B0;
  width: 20px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button:last-child {
  margin: 0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-delay {
  display: inline-block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-delay[data-basket-state=delayed] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-delayed {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-delayed[data-basket-state=delayed] {
  display: inline-block;
  opacity: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-compare {
  display: inline-block;
  position: relative;
  top: 2px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-compare[data-compare-state=added] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-compared {
  display: none;
  position: relative;
  top: 2px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-compared[data-compare-state=added] {
  display: inline-block;
  opacity: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-quick-view {
  font-size: 18px;
}
@media all and (max-width: 1200px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-quick-view {
    display: none !important;
  }
}
@media all and (max-width: 768px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button-order-fast {
    display: none !important;
  }
}
@media all and (max-width: 1200px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button {
    opacity: 1;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  font-size: 0;
  text-align: center;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view {
    display: none !important;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view-button {
  display: inline-block;
  vertical-align: middle;
  visibility: visible;
  line-height: 1;
  padding: 10px;
  font-size: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 21px;
  color: #848790;
  opacity: 0.9;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view-button-icon,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view-button-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-quick-view-button-text {
  line-height: 1.5;
  margin-left: 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-discount {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #404040;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-base {
  display: none;
  font-size: 14px;
  line-height: 16px;
  color: #B0B0B0;
  text-decoration: line-through;
  visibility: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price[data-discount=true] .catalog-section-item-price-base {
  display: block;
  visibility: visible;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-wrap {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-wrap[data-offer=false] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-button {
  position: relative;
  width: 25px;
  height: 15px;
  margin-right: 4px;
  vertical-align: middle;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: "color, background-color, border-color";
  -moz-transition-property: "color, background-color, border-color";
  -ms-transition-property: "color, background-color, border-color";
  -o-transition-property: "color, background-color, border-color";
  transition-property: "color, background-color, border-color";
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-button .dots {
  height: 100%;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-button .dot {
  width: 3px;
  height: 3px;
  margin: 0 1px;
  background: #404040;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-button:hover i {
  background: #FFFFFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended {
  position: absolute;
  top: 30px;
  left: -10px;
  z-index: 1;
  width: 270px;
  opacity: 0;
  background-color: #FFF;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended.active {
  opacity: 1;
  pointer-events: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
@media all and (max-width: 600px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended {
    width: 210px;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-background {
  padding: 30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-header {
  margin-bottom: 24px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1B1E25;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-button-close {
  font-size: 18px;
  line-height: 18px;
  color: #B0B0B0;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-item {
  position: relative;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-item + .catalog-section-item-price-extended-item {
  margin-top: 12px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-item .background-border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  z-index: -1;
  height: 1px;
  background-image: linear-gradient(90deg, #E8E8E8 50%, transparent 50%);
  background-position: bottom;
  background-size: 6px 1px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-quantity {
  font-size: 12px;
  line-height: 12px;
  color: #808080;
  background: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-price-extended-value {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: #404040;
  background: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-properties {
  display: none;
  margin-top: 26px;
  margin-bottom: 26px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property {
  display: block;
  margin-top: 18px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-title {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value-selected {
  font-size: 14px;
  line-height: 24px;
  color: #404040;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-values {
  display: block;
  font-size: 0;
  margin: 4px -3px -3px -3px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 4px;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  cursor: pointer;
  background: #ffffff;
  color: #404040;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: color, border-color, background-color, opacity, transform;
  -moz-transition-property: color, border-color, background-color, opacity, transform;
  -ms-transition-property: color, border-color, background-color, opacity, transform;
  -o-transition-property: color, border-color, background-color, opacity, transform;
  transition-property: color, border-color, background-color, opacity, transform;
  -webkit-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -moz-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -ms-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  -o-transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
  transition-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.2s;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value:active {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value[data-state=hidden] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value[data-state=disabled] {
  opacity: 0.25;
  border-color: #e8e8e8 !important;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value[data-state=disabled]:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value[data-state=selected] {
  color: #FFF;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value-text {
  display: block;
  padding: 8px 10px;
  color: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  min-width: 24px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-value-image {
  height: 20px;
  width: 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property[data-type=picture] .catalog-section-item-offers-property-value {
  padding: 2px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: #FFFFFF !important;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property[data-extended=true] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property[data-visible=false] {
  display: none !important;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  z-index: 4;
  opacity: 0;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended[data-side=left] {
  left: -30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended[data-side=right] {
  right: -30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-values {
  overflow: hidden;
  text-align: center;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value {
  position: relative;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value:nth-last-child(2) {
  margin-bottom: 0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value-text {
  font-size: 12px;
  line-height: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value-image {
  width: 15px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  -ms-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value-overlay {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: #e8e8e8;
  opacity: 0.9;
  display: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value[data-state=hidden] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value[data-state=selected] .catalog-section-item-offers-property-extended-value-text {
  text-decoration: underline;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value[data-state=disabled] .catalog-section-item-offers-property-extended-value-text {
  text-decoration: line-through;
  opacity: 0.4;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended-value[data-state=disabled] .catalog-section-item-offers-property-extended-value-overlay {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended[data-visible=false] {
  display: none !important;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-counter .intec-ui-control-numeric {
  width: 100%;
  justify-content: space-between;
}
@media all and (max-width: 1000px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-counter .intec-ui-control-numeric .intec-ui-part-increment, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-counter .intec-ui-control-numeric .intec-ui-part-decrement {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-buttons {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-buttons[data-offer=false] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button .intec-ui-part-effect {
  letter-spacing: initial;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button-add {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button-add[data-basket-state=added] {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button-added {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-button-added[data-basket-state=added] {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-counter {
  text-align: center;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-counter .intec-ui-part-input {
  border-left: none;
  border-right: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item {
  position: relative;
  z-index: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-wrapper {
  height: 100%;
  background-color: #FFF;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 105%;
  margin: -10px -10px 0 -10px;
  padding: 30px 40px 0 40px;
  -webkit-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -moz-box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  box-shadow: 0 16px 32px rgba(27, 30, 37, 0.08);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-wrapper:hover .catalog-section-item-purchase-container {
  overflow: hidden;
  left: -1px;
  right: -1px;
  bottom: -1px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-image .owl-nav {
  opacity: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-action-button {
  opacity: 1;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-advanced {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-offers-properties {
  display: block;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] [data-borders-style=rounded]:hover .catalog-section-item-purchase-container {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item:hover {
  z-index: 2;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item:hover [data-borders-style=rounded] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item:hover [data-borders-style=squared] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-desktop="4"] .catalog-section-item-quick-view-button-icon,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-desktop="4"] .catalog-section-item-quick-view-button-text {
  font-size: 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-desktop="4"][data-wide=false] .intec-ui-part-increment, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-desktop="4"][data-wide=false] .intec-ui-part-decrement {
  padding-left: 16px;
  padding-right: 16px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-borders=true] .catalog-section-item[data-expanded=true] .catalog-section-item-wrapper {
  overflow: visible;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-available=false] .catalog-section-item-counter {
  display: none;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-button=false] .catalog-section-item-advanced {
  padding-bottom: 0;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=left].catalog-section-item-name, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=left].catalog-section-item-vote, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=left].catalog-section-item-price {
  text-align: left;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=center].catalog-section-item-name, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=center].catalog-section-item-vote, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=center].catalog-section-item-price {
  text-align: center;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=right].catalog-section-item-name, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=right].catalog-section-item-vote, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 [data-align=right].catalog-section-item-price {
  text-align: right;
}
@media all and (max-width: 720px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] .catalog-section-item-wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item[data-expanded=true] [data-borders-style=rounded]:hover .catalog-section-item-purchase-container {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-image .owl-nav {
    opacity: 1;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-action-button {
    opacity: 1;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-advanced {
    display: block;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property-extended {
    display: none;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-offers-property[data-extended=true] {
    display: block;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-item-purchase-detail {
  display: none;
}
@media all and (max-width: 500px) {
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item {
    margin: 1px 0 1px;
    padding: 0 1px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item .catalog-section-item-wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 20px 20px 0 20px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item [data-borders-style=rounded]:hover .catalog-section-purchase-container {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"][data-borders=true] .catalog-section-item {
    padding: 0;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-base {
    padding-bottom: 10px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-price {
    overflow: hidden;
    height: auto;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-image-container {
    margin-bottom: 5px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-image {
    padding-top: 100%;
    margin-bottom: 0;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-substrate,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-vote,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-quantity-wrap,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-marks,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-counter,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-section,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-price-extended-wrap,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-offers-properties {
    display: none !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-base {
    padding-bottom: 20px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-action-button {
    opacity: 1;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-name {
    height: 42px;
    margin-bottom: 10px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-name div, .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-name a {
    font-size: 14px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-price-discount {
    font-size: 16px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-price-base {
    font-size: 11px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-advanced {
    padding-bottom: 36px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-purchase-button {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-purchase-buttons:not([data-offer=false]) {
    display: none !important;
  }
  .ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4[data-columns-mobile="2"] .catalog-section-item-purchase-buttons:not([data-offer=false]) + .catalog-section-item-purchase-detail {
    display: block;
  }
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more {
  display: block;
  font-size: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 1px;
  margin-top: 30px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more + .catalog-section-navigation {
  margin-top: 20px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-icon,
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-text {
  display: inline-block;
  vertical-align: middle;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-icon {
  font-size: 16px;
  color: #fff;
  padding: 7px;
  border-radius: 50%;
  background: #0065ff;
  text-align: center;
  height: 16px;
  width: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: transform 350ms;
  -moz-transition: transform 350ms;
  -ms-transition: transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 10px;
}
.ns-bitrix.c-catalog-section.c-catalog-section-catalog-tile-4 .catalog-section-more-button:hover .catalog-section-more-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
