.soFlexItems.popuppro header a{
    color: white;
}
.soFlexItems.popuppro .stat-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.soFlexItems.popuppro article div:hover{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.soFlexItems.popuppro .stat-info .item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.soFlexItems.popuppro .stat-info .item img{
    width: 15px;
    padding-right: 10px;
}
.soFlexItems.popuppro article{
    min-width: 25%;
}

.popuppro_detail .wrapper_settings{
    text-align: center;
}
.popuppro_detail .wrapper_settings label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0px;
    text-align: right;
    width: 100%;
}
.popuppro_detail .wrapper_settings label > span{
    width: 40%;
    text-align: right;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 10px;
}
.popuppro_detail .wrapper_settings label > textarea{
    width: 462px;
    height: 150px;
    padding: 5px;
}