.your-kit {
    font-family: 'Play', sans-serif;
}

.your-kit .container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.your-kit__left {
    width: 66.2%;
}

.kit-constructor {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.your-kit .constructor-item {
    background: #fff;
    display: flex;
    justify-content: space-around;
    width: 50%;
    border: 1px solid #e5ebed;
    min-height: 170px;
    padding: 6px;
    position: relative;
    color: #1e1f21;
    cursor: default;
}

.your-kit .constructor-item__popup-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.your-kit .constructor-item__image {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.your-kit img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 160px;
}

.your-kit .constructor-item__text {
    padding: 0 10px;
    width: 60%;
}

.your-kit .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.your-kit .i {
    color: #e5ebed;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 14px;
    top: 25px;
    z-index: 2;
}

.your-kit .constructor-item__name {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .12px;
    line-height: 18px;
    margin-bottom: 6px;
}

.your-kit .constructor-item__price {
    font-weight: 500;
    font-size: 18px;
    color: #3c3c3c;
    letter-spacing: .08px;
    line-height: 21px;
    margin-bottom: 10px;
}

.your-kit .constructor-item__buttons {
    font-size: 0;
    margin-bottom: -10px;
    margin-right: -10px;
    padding-top: 5px;
}

.your-kit .constructor-item__button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.your-kit .constructor-item__button input {
    display: none;
}

.your-kit .constructor-item__button span {
    padding: 4px 10px;
    display: block;
    background: #e2ecf1;
    border-radius: 5px;
    transition: all .3s;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    color: #7d98a5;
    letter-spacing: .46px;
    line-height: 21px;
}

.your-kit .constructor-item__button input:checked~span, .camchecked {
    background: #216ffb!important;
    color: #fff!important;
}

.your-kit .constructor-item__descr {
    opacity: .6;
    font-weight: 500;
    font-size: 13px;
    color: #3c3c3c;
    letter-spacing: .08px;
    line-height: 16px;
    margin-bottom: 6px;
    max-width: 200px;
}

.your-kit .descr--font {
    color: #216ffb;
    opacity: 1;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    margin-left: -30px;
}

.your-kit .constructor-item__buttons-reg{
    display: flex;
    flex-flow: column;
    padding-top: 0;
}

.your-kit .constructor-item__buttons-reg label{
    padding-left: 30px;
    border-radius: 5px;
    margin: 2px;
    position: relative;
}

.your-kit .constructor-item__buttons-reg label span{
    background: none!important;
    color: #333!important;
    padding: 0;
}

.your-kit .constructor-item__buttons-reg span i {
    display: none;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 18px;
    color: #216ffb;
}

.your-kit .reg_checked {
    border: 1px solid #216ffb;
}

.your-kit .reg_checked span i {
    display: block;
}

.your-kit .camOf {
    display: none!important;
    opacity: 0!important;
}

.your-kit .constructor-item__info {
    position: absolute;
    width: 20px;
    height: 20px;
    transition: all .3s;
    fill: #ccd1d9;
    top: 15px;
    right: 15px;
}

.your-kit .constructor-item__image div {
    margin: 0 auto;
}

.your-kit .constructor-item--modem .constructor-item__image div img {
    max-height: 89px;
}

.your-kit .your-kit__right {
    padding-left: 37px;
    width: 33.8%;
}

.your-kit .kit-constructor__result {
    font-size: 0;
    margin-bottom: 39px;
}

.your-kit .kit-constructor__discount {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    background: #ffde20;
    border-radius: 100px;
    padding: 4px 10px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #bd8500;
    letter-spacing: .08px;
    line-height: 21px;
}

.your-kit .kit-constructor__discount span {
    display: inline-block;
    line-height: 1.1;
    border-bottom: 1px dotted #bd8500;
}

.your-kit .kit-constructor__old-price {
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .08px;
    line-height: 15px;
    text-decoration: line-through;
}

.your-kit .kit-constructor__total {
    opacity: .9;
    font-weight: 600;
    font-size: 39px;
    letter-spacing: .23px;
    line-height: 50px;
}

.your-kit .what-to-choose {
    padding: 19px 22px;
    padding-top: 16px;
    background: #f4f7f9;
    border-radius: 20px;
    position: relative;
    max-width: 282px;
    font-size: 0;
}

.your-kit .what-to-choose .what-to-choose__title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .12px;
    line-height: 22px;
    margin-bottom: 15px;
}

.your-kit .what-to-choose .btn {
    margin-bottom: 18px;
}

.your-kit .what-to-choose__phone p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    letter-spacing: .08px;
    line-height: 22px;
    font-family: 'Play', sans-serif;
}

.your-kit .what-to-choose__phone a {
    font-weight: 600;
    font-size: 18px;
    color: #1f72cf;
    letter-spacing: .1px;
    text-align: right;
    border: 0;
}

.your-kit h3 {
    text-align: center;
    line-height: 1.41666667;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .14px;
    font-family: 'Play', sans-serif;
}

.your-kit .btn {
    display: inline-block;
    text-align: center;
    line-height: 1.27272727;
    color: #fff;
    border: 0;
    background: #1c5dc7;
    border-radius: 5px;
    padding: 17px 27px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .06px;
    transition: background-color .3s,width .3s,box-shadow .3s;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.your-kit .btn--border {
    background: none;
    color: #216ffb;
    border-color: #216ffb;
    border: 1px solid #216ffb;
}

.your-kit .btn--green {
    background: #216ffb;
}

.your-kit .btn--green:hover{
    color: #fff;
}

.your-kit .camOn {
    display: inline!important;
    opacity: 1!important;
}

#complect-popup-second .popup-window-content{
    padding: 20px 10px;
    overflow-x: hidden !important;
}

#complect-popup-second .popup-window-content h4{
    font-size: 21px;
    text-align: center;
}

#complect-popup-second .popup-window-content .form-fields{
    text-align: center;
}

#complect-popup-second .popup-window-content .suggestion__input {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 27px;
    font-weight: 700;
    transition: background-color .3s,width .3s,box-shadow .3s;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

#complect-popup-second .popup-window-content .suggestion__input {
    width: 40%!important;
    margin: 2px 30px;
}

#complect-popup-second .popup-window-content .form-fields input{
    border: 2px solid #216ffb;
}

#complect-popup-second .popup-window-content .form-fields .form-submit input{
    background: #216ffb;
    color: #fff;
}

.alarm, .alarm a {
    border-color: #EB5757 !important;
    color: #EB5757 !important;
}

@media (max-width: 1245px)
{
    .your-kit__left {
        width: 100%;
        margin-bottom: 30px;
    }
    .your-kit .your-kit__right{
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}
@media (max-width: 745px)
{
   .constructor-item:not(.constructor-item--sm) {
        width: 100%;
        margin: 0;
        margin-bottom: -1px;
        padding-bottom: 15px;
        padding-left: 0!important;
    } 
}
@media screen and (max-width: 425px){
    .constructor-item__button_span {
        padding: 8px 20px!important;
    }
    .your-kit .what-to-choose{
        max-width: 100%;
        width: 100%;
    }
}
